@import "src/variables";

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .lineWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    p {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
    }

    .line {
      max-width: 133px;
      width: 100%;
      border: 1px solid $gray-secondary;
    }

  }

}

