@import "../../assets/fonts/Righteous-Regular.ttf";
@import "./src/variables";

@font-face {
  font-family: "Righteous";
  src: local("Righteous-Regular"), url("../../assets/fonts/Righteous-Regular.ttf") format("truetype")
}


.test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  border: 1px solid lightblue;
  background: $gray;
  display: flex;
  justify-content: center;
  align-items: center;


  h1 {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    margin-left: 15px;
  }

}