@import "./src/variables";

.container {
  max-width: 325px;
  width: 100%;
  padding: 18px 15px 14px 15px;
  background: $white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;

  svg {
    width: 25px;
    height: 25px;
  }

  span {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 16px;
    flex-grow: 1;
  }
}

