@import "./variables.scss";
@import "./assets/fonts/Roboto-Regular.ttf";
@import "./assets/fonts/Roboto-Light.ttf";


@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./assets/fonts/Roboto-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto"), url("./assets/fonts/Roboto-Light.ttf") format("truetype")
}


.wrapper {
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .container {
   background: $gray;
    max-width: 375px;
    width: 100%;
  }
}